<nav class="navbar">
<div class="container">
  <div class="logo">WIT-IoT</div>
  <ul class="nav">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>
</nav>
<header class="header">
<div class="container">
  <div>
    <h1>IoT FullStack Development BootCamp</h1>
    <p>This course is designed by Abhijit and Ravikant for better understanding of IoT, AWS Cloude Services and Angular</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos corporis quam illum consectetur magnam velit temporibus, quae dolore quas odio, maxime ab repellendus culpa perspiciatis, saepe facere nemo ullam facilis.</p>
  </div>
  <img src="https://user-images.githubusercontent.com/77708148/185546244-4d189807-234a-45d0-8744-6e9c318dfc93.svg" alt="">
</div>
</header>
<section class="boxes">
   <div class="container">
    <div class="box">
      <h2>Perception Layer</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia soluta reprehenderit aspernatur quasi numquam corporis cupiditate quaerat. Nemo cum pariatur quam eveniet impedit sunt delectus quasi voluptatum fugit est officia laborum itaque, accusantium doloremque deleniti fugiat modi voluptatem saepe aliquid obcaecati fuga inventore nostrum. Assumenda voluptatum.</p>
    </div>
    <div class="box">
      <h2>Perception Layer</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia soluta reprehenderit aspernatur quasi numquam corporis cupiditate quaerat. Nemo cum pariatur quam eveniet impedit sunt delectus quasi voluptatum fugit est officia laborum itaque, accusantium doloremque deleniti fugiat modi voluptatem saepe aliquid obcaecati fuga inventore nostrum. Assumenda voluptatum.</p>
    </div>
    <div class="box">
      <h2>Perception Layer</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia soluta reprehenderit aspernatur quasi numquam corporis cupiditate quaerat. Nemo cum pariatur quam eveniet impedit sunt delectus quasi voluptatum fugit est officia laborum itaque, accusantium doloremque deleniti fugiat modi voluptatem saepe aliquid obcaecati fuga inventore nostrum. Assumenda voluptatum..</p>
    </div>
  </div>
</section>
